body {
font-family: roboto;
}
.link {text-decoration: none;}
.list{list-style: none;}

/* --------------------------header-------------------- */
.header { background-color: #FFFFFF;
}
.header-navigation {
}
.header-logo {
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.33;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}
.header-logo-after {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
}
.header-list {
}
.list {
}

.header-link {
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
}
.link:is(:hover, :focus) {
    color: #404BBF;
}
.header-adress {
}
.-header-adress-list {
}
.header-adress-item {
}
.header-adress-link {
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
/* --------------------------hero-------------------- */
.hero {
    background-color: #2E2F42;
}
.hero-title {
font-family: 'Roboto';
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}
.hero-btn { 
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
text-transform: uppercase;
cursor: pointer;
}
/* --------------------------about-------------------- */
.about {
}
.about-list {
}
.about-team-item {
}
.about-title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.about-after-title {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.about-item {
}
/* --------------------------work-------------------- */
.work {
}
.work-title {font-family: 'Roboto';
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;}
.work-list {
}
.work-item {
}
/* --------------------------team-------------------- */
.team-title {
font-family: 'Roboto';
font-size: 36px;
line-height: 40px;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.team-listlist {
}
.team-item {
}
.team-title-employee {
font-family: 'Roboto';
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
}
.team-after-title {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer { background-color: #2E2F42
}
.footer-logo {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}
.footer-logo-after {
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.17;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD;
}
.footer-text { 
font-family: 'Roboto';
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
}
.digital {
}
.digital-list {
}
.list {
}
.digital-item {
}
.digital-btn{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
}
.digital-title {
    font-family: 'Roboto';
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
}
.digital-title-text {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}